@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --color-foreground: #FFFFFF;
  --color-background: #000000;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
}

header {
  position: relative;
  width: 100vw;
  margin-bottom: 20px;
}
header .header-jumbo-logo {
  width: 40%;
  padding-top: 10%;
  margin: 0 auto 0;
  background-color: var(--color-foreground);
  mask-image: var(--logo-url);
  mask-position: center center;
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-image: var(--logo-url);
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
header .header-caption {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  margin-top: 60px;
  padding: 0 40px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.05ch;
  font-size: 1.75rem;
}
header .language-switcher {
  position: absolute;
  top: 10%;
  right: 20%;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.889rem;
}

.header-press-release {
  text-align: center;
  margin: 30px 0 60px 0;
  color: #a4d4ff;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 3fr;
  width: 80vw;
  max-width: 1280px;
  margin: 40px auto 0;
}
main .division-title {
  grid-row: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.563rem;
  font-weight: 500;
}
main .division-title.left {
  grid-column: 1;
  grid-row: 1;
}
main .division-title.right {
  grid-column: 2;
  grid-row: 1;
}
main .brand-wrapper {
  position: relative;
}
main .brand-wrapper .brand-logo-link {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 192px;
}
main .brand-wrapper .brand-logo-link .brand-logo {
  width: 100%;
  height: 100%;
  background-color: var(--color-foreground);
  mask-size: contain;
  mask-position: center center;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}
main .brand-wrapper .brand-date {
  margin-bottom: 40px;
  color: var(--color-foreground);
  padding-top: 20px;
  text-align: center;
  font-size: 1.563rem;
  font-weight: 500;
  text-decoration: none;
}
main .brand-wrapper .brand-description {
  position: absolute;
  top: 15px;
  z-index: 100;
  display: none;
  width: 600px;
  padding: 40px 80px;
  box-shadow: 0 2px 10px 0 var(--color-foreground);
  border: 1px solid var(--color-foreground);
  background-color: var(--color-background);
}
main .brand-wrapper .brand-description a {
  color: var(--color-foreground);
  text-decoration-color: var(--color-foreground) !important;
}
main .brand-wrapper .brand-description h2 {
  margin: 0;
}
main .brand-wrapper .brand-description p {
  margin: 0;
  font-size: 0.889rem;
  line-height: 1.8rem;
  letter-spacing: 0.05ch;
}
main .brand-wrapper .brand-logo-link:hover ~ .brand-description,
main .brand-wrapper .brand-date:hover ~ .brand-description,
main .brand-wrapper .brand-description:hover {
  display: block;
}
main .neo {
  grid-row: 2;
  grid-column: 1;
}
main .neo .brand-logo.fr {
  mask-image: url("../img/Neo_Blanc.png");
  -webkit-mask-image: url("../img/Neo_Blanc.png");
}
main .neo .brand-logo.en {
  mask-image: url("../img/Neo_Blanc.png");
  -webkit-mask-image: url("../img/Neo_Blanc.png");
}
main .neo .brand-description {
  left: calc(50% + 200px);
}
main .pompe {
  grid-row: 3;
  grid-column: 1;
}
main .pompe .brand-logo {
  mask-image: url("../img/pompe.mono.svg");
  -webkit-mask-image: url("../img/pompe.mono.svg");
}
main .pompe .brand-description {
  left: calc(50% + 200px);
}
main .speed {
  grid-row: 2;
  grid-column: 2;
}
main .speed .brand-logo.en {
  mask-image: url("../img/speed.mono.en.svg");
  -webkit-mask-image: url("../img/speed.mono.en.svg");
}
main .speed .brand-logo.fr {
  mask-image: url("../img/speed.mono.fr.svg");
  -webkit-mask-image: url("../img/speed.mono.fr.svg");
}
main .speed .brand-description {
  right: calc(50% + 200px);
}
main .staff {
  grid-row: 3;
  grid-column: 2;
}
main .staff .brand-logo.en {
  mask-image: url("../img/staff.mono.en.svg");
  -webkit-mask-image: url("../img/staff.mono.en.svg");
}
main .staff .brand-logo.fr {
  mask-image: url("../img/staff.mono.fr.svg");
  -webkit-mask-image: url("../img/staff.mono.fr.svg");
}
main .staff .brand-description {
  right: calc(50% + 200px);
}

@media (max-width: 1280px) {
  main .division-title {
    font-size: 1.25rem;
  }
  main .neo .brand-description {
    left: 20%;
    top: 60%;
  }
  main .pompe .brand-description {
    left: 20%;
    top: -40%;
  }
  main .speed .brand-description {
    right: 20%;
    top: 60%;
  }
  main .staff .brand-description {
    right: 20%;
    top: -40%;
  }
}
@media (max-width: 1024px) {
  header .language-switcher {
    top: 20px;
    right: 20px;
  }
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  main .division-title.left {
    grid-column: 1;
    grid-row: 1;
  }
  main .division-title.right {
    grid-column: 1;
    grid-row: 4;
  }
  main .brand-wrapper {
    grid-column: 1;
  }
  main .brand-wrapper.neo {
    grid-row: 2;
  }
  main .brand-wrapper.pompe {
    grid-row: 3;
  }
  main .brand-wrapper.speed {
    grid-row: 5;
  }
  main .brand-wrapper.staff {
    grid-row: 6;
  }
  main .neo .brand-description {
    width: 80%;
    left: 0;
    top: 60%;
  }
  main .pompe .brand-description {
    width: 80%;
    left: 0;
    top: 60%;
  }
  main .speed .brand-description {
    width: 80%;
    left: 0;
    top: -80%;
    right: unset;
  }
  main .staff .brand-description {
    width: 80%;
    left: 0;
    top: -80%;
    right: unset;
  }
}
@media (max-width: 768px) {
  header .header-jumbo-logo {
    width: 320px;
    height: 80px;
  }
  main {
    width: 100%;
  }
  main .brand-wrapper .brand-description {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    padding: 0 40px;
    border: none;
    box-shadow: none;
    margin: -20px 0 40px 0;
  }
}

/*# sourceMappingURL=root.css.map */
